<app-blog>
    <blog-header>Display the colorful fireflies effect</blog-header>
    <blog-content>
        <h2>1. Purpose</h2>
        <p>As an angular developer, I would like to display the colorful fireflies effect by using only SCSS. You can see the result of this effect in <a routerLink="/">Home</a> page (You have to wait 15 seconds for firefly's appearance in the banner)</p>
        <h2>2. How to do</h2>
        <ul>
            <li>Just add 50 elements in a web page. Each element corresponds to a firefly</li>
        </ul>
        <pre>
            <code appHighlight url="https://gist.githubusercontent.com/seabird86/e51dfcb1222bc15e5ce1da80d3a0b5d5/raw/c191e4092f3fa6486d717a048c6830d2116b5a87/firefly.html" class="language-xml"></code>
        </pre>
        
        <ul>
            <li>Using the following SCSS code block to turn these elements into colorful fireflies.</li>
        </ul>
        <pre>
            <code appHighlight url="https://gist.githubusercontent.com/seabird86/20c6bde079bf36ab0f2a52693b405829/raw/969d95d83626e14214e4df654c0d1800259e21a7/firefly.scss" class="language-css"></code>
        </pre>
        You can:
        <ul>
            <li>Customize the number of fireflies <code>$particleNum</code> and their sizes <code>particleBaseSize</code>.</li>
            <li>Add more colors in <code>background-image</code> if you want.</li>
            <li>Change the appearance time of fireflies <code>animation-delay</code> as well as animation duration <code>animation-duration</code>.</li>
        </ul>
        <h2>3. Conclusion</h2>
        <p>In this guidelines, you learn how to use <code>SCSS</code> to create an animations of a firefly.</p>
        <h2>4. References</h2>
        <p><i>Thanks for the original auth <i>Takeshi Kano</i> who developed this effect, published and shared to everyone. This help me make the beautiful colorful fireflies.</i></p>
        <ol>
        <li><a href="https://codepen.io/tonkotsuboy/pen/zJbKNN" target="_blank">https://codepen.io/tonkotsuboy/pen/zJbKNN</a></li>
        </ol>
    </blog-content>
</app-blog>