<app-blog>
    <blog-header>Display a Table of Contents</blog-header>
    <blog-content>
        <h2>1. Purpose</h2>
        <p>As an angular developer, I would like to show a <b>Table of Contents</b> of a page like the Table of Contents of this page. It will automatically find and show all heading tags in a HTML element as a table of contents and allow user to scroll to its content. We won't use the URI fragments to scroll. Instead of that, we will find all heading tags and scroll to this element.</p>
        <h2>2. How to do</h2>
        <ul>
        <li>Create an angular component <code>blog.component</code>. You will need to customize your scss file <code>blog.component.scss</code></li>
        </ul>

        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="blog.component.ts">
                <pre>
                    <code appHighlight url="https://gist.githubusercontent.com/seabird86/65b480a8f3571303ee7a55797e7d34f5/raw/050d30f5dc88475ccbd8ef7c3426bb263db3ce64/BlogComponent" class="language-typescript"></code>
                </pre>
            </mat-tab>
            <mat-tab label="blog.component.html">
                <pre>
                    <code appHighlight url="https://gist.githubusercontent.com/seabird86/9c0e8fe3c4048e19da662751f8dc73d6/raw/9c75d81173cff592b9bd470e6c9132df13e9a2c8/blog.component.html" class="language-xml"></code>
                </pre>
            </mat-tab>
        </mat-tab-group>
        <ul>
            <li>In the method <code>ngAfterViewInit</code>, it will loop all tags in the <code>#blogContent</code> to find headings <code>&#60;h2 &#60;h3&#62; &#60;h4&#62;</code>. The tag <code>&#60;ng-content&#62;</code> is replaced by your actual content.</li>
            <li>In the <code>blog.component.html</code>, the loop <code>for</code> will show a list of your headings under the tag <code>&#60;h3&#62;Table of Contents&#60;/h3&#62;</code></li>
            <li>If a reader clicks into a link in the Table of Contents, The method <code>scrollTo(e?: Element)</code> will scroll to the content that user want to see.</li>            
            <li>Finally, you will use this component to wrap the page you want to show the Table of Contents. The content of page is in the tag <code>&#60;blog-content&#62;</code></li>
        </ul>
        <pre>
            <code appHighlight url="https://gist.githubusercontent.com/seabird86/3b37553aac69b470493ad96e64daf033/raw/4454bbeb016c1b439582ab378218fab4d7dfc2ef/blog.template.html" class="language-xml" ></code>
        </pre>
        <h2>3. Conclusion</h2>
        <p>In this guidelines, you learn how to use <code>viewChild</code> to get the RefElement. I use the agorithm Depth-first Search - DFS to find all tags in this RefElement. You've known the way to scroll to a content by using method <code>scrollIntoView</code> as well as using the <code>&#60;ng-content&#62;</code>. There is also a solution to scroll a placeholder with URI fragements in a web page. But we shouldn't use it because it's an Angular app.</p>        
    </blog-content>
</app-blog>