<div>
    <div>
        <div>
            <mat-icon fontIcon="home"></mat-icon>
            <div></div>
        </div>
        <div>
            <p>1986 - Home Town <img src="https://flagcdn.com/16x12/vn.png"></p>
        </div>
    </div>
    <div>
        <div>
            <mat-icon fontIcon="school"></mat-icon>
            <div></div>
        </div>
        <div>
            <p>2004 - Bachelor Degree of Engineering</p>
            <p>2011 - Master's Degree of Engineering</p>
        </div>
    </div>
    <div>
        <div>
            <mat-icon fontIcon="work"></mat-icon>
            <div></div>
        </div>
        <div>
            <p>2009 - Maritime Bank</p>
            <p>2014 - OnePay JSC</p>
            <p>2015 - Synergix</p>
            <p>2017 - VKX</p>
            <p>2018 - Ascend Tech</p>
        </div>
    </div>
    <div>
        <div>
            <mat-icon fontIcon="home"></mat-icon>
            <div></div>
        </div>
        <div>
            <p>2022 - Living in Brisbane <img src="https://flagcdn.com/16x12/au.png"></p>
        </div>
    </div>
    <div>
        <div>
            <mat-icon fontIcon="work"></mat-icon>
            <div></div>
        </div>
        <div>
            <p>2022 - Auto & General</p>
        </div>
    </div>
</div>
<div class="map"></div>