<div class="banner">
    <div class="intro">
        <div></div>
        <div>
            <p>As a full-stack developer !<br/>Great experience on ...</p>
            <div>
                <img src="home/java.webp" />
                <img src="home/spring.webp" />
                <img src="home/angular.webp" />
                <img src="home/react.webp" />
                <img src="home/aws.webp" />
                <img src="home/playwright.webp" />
                <img src="home/k6.webp" />
                <img src="home/cicd.webp" />
            </div>
        </div>

    </div>
    <div class="avatar">
        <div></div>
    </div>
</div>