.banner {
    background-image: url('home/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 40vw;
    padding-top: 1px;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 6px 4px inset, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    span {
        margin-top: 6vw;
        margin-left: 6vw;
        font-family: "Lovers Quarrel", cursive;
        font-size: 5vw;
        display: inline-block;
        color: azure;
    }

    .avatar {
        border-radius: 50%;
        background-color: white;
        height: 10vw;
        width: 10vw;
        padding: 3px;
        margin-left: 7vw;
        margin-top: 28vw;

        @media (max-width: 425px) {
            margin-top: 25vw;
        }

        @media (max-width: 320px) {

            margin-top: 23vw;
        }

        div {
            background-image: url('home/avatar.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            height: 10vw;
            width: 10vw;
            vertical-align: middle;
            border-radius: 50%;
        }
    }
}

.intro {
    margin: 100px auto 30px auto;
    width: 380px;
    height: 380px;
    background-color: rgba(247, 247, 247, 0.8);
    border-radius: 10px;


    div:first-child {
        background-image: url('home/hand-wave.gif');
        width: 160px;
        height: 120px;
        background-size: cover;
        margin: 5px auto 5px auto;

    }

    p {
        text-align: center;
        width: 300px;
        margin: 20px auto 20px auto;
        font-size: x-large;
        color: rgb(70, 69, 69);
        line-height: 40px;
    }

    div:nth-child(2) {
        div {
            width: 300px;
            height: 120px;
            margin: 0px auto auto auto;

            img {
                height: 50px;
                width: 50px;
                margin-left: 15px;
            }
        }
    }
}

.greeting {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto auto;

    img {
        width: 50%;
        aspect-ratio: 720 / 540;
        @media (max-width: 768px) {
            width: 100%;
        }
    }


    div {
        width: 50%;
        background-color: rgb(27, 26, 33);
        color: whitesmoke;
        min-height: 290px;

        @media (max-width: 768px) {
            width: 100%;
        }

        h2 {
            text-align: center;
            margin-top: 7vw;
            font-size: 3vw;
            @media (max-width: 768px) {
                font-size: 25px;
            }
        }

        p {
            text-align: justify;
            margin-left: 6vw;
            margin-right: 6vw;
            font-weight: lighter;
            font-family: sans-serif;
            line-height: 1.8em;
            font-size: 1.3vw;
            @media (max-width: 768px) {
                font-size: 15px;
            }
        }

    }


}