<div class="banner">
    <span class="font-effect-fire-animation">Let read my stories</span>
    <div class="avatar">
        <div></div>
    </div>
</div>
<div class="intro">
    <div></div>
    <div>
        <p>As a full-stack developer !<br />Great experience on ...</p>
        <div>
            <img src="home/java.webp" title="Java"/>
            <img src="home/spring.webp" title="Spring"/>
            <img src="home/angular.webp" title="Angular"/>
            <img src="home/react.webp" title="React"/>
            <img src="home/aws.webp" title="AWS"/>
            <img src="home/playwright.webp" title="Playwright"/>
            <img src="home/k6.webp" title="K6"/>
            <img src="home/cicd.webp" title="CICD"/>
        </div>
    </div>

</div>
<div class="greeting">
    <img src="home/say-hi.gif">
    <div>
        <h2>Nice to Meet You</h2>
        <p>Hi, My name's Anh. I'm from Vietnam and you can call me 'Kris'. This place where I can share my greatest inspiration and candidly display the different sides of my passion project. I invite you to explore my content and learn about what makes me tick. Please reach out and engage—I’m happy to hear from you, as well.</p>
    </div>
</div>