:host {
    >div {
        display: flex;
        margin: 10px auto;
        flex-direction: row;
        width: 1320px;

        @media (max-width: 1320px) {
            width: 930px;
        }

        @media (max-width: 930px) {
            flex-direction: column;
            width: 780px;
        }

        @media (max-width: 780px) {            
            width: 390px;
        }

        @media (max-width: 390px) {
            width: 390px;
            
        }

        >div {
            margin: 60px 30px 0px 0px;
            line-height: 1.5em;
            font-family: "Roboto";
            font-weight: bold;

            @media (max-width: 930px) {
                margin: 0px 0px 0px 0px;
            }

            mat-checkbox {
                display: block;
                width: 120px;

                @media (max-width: 930px) {
                    display: inline-block;
                    width: auto;
                }
            }
        }
    }

    // app-blog-list{
    //     width: 100%;
    // }

}