@use 'sass:list';
@use 'sass:math';

:host {
    background-position: center center;
    // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c361.086C83.143%2c368.884%2c173.336%2c424.131%2c244.664%2c380.704C315.803%2c337.392%2c303.174%2c230.007%2c338.881%2c154.762C375.317%2c77.981%2c451%2c19.182%2c456.469%2c-65.63C462.358%2c-156.958%2c428.183%2c-249.947%2c369.507%2c-320.18C310.349%2c-390.99%2c222.434%2c-430.27%2c132.97%2c-452.853C45.828%2c-474.85%2c-45.624%2c-474.265%2c-131.119%2c-446.55C-215.132%2c-419.315%2c-292.824%2c-370.076%2c-344.129%2c-298.189C-393.123%2c-229.54%2c-391.275%2c-141.328%2c-407.957%2c-58.655C-425.77%2c29.619%2c-484.474%2c122.275%2c-445.34%2c203.38C-406.173%2c284.553%2c-301.804%2c307.334%2c-216.846%2c337.42C-146.889%2c362.194%2c-73.89%2c354.156%2c0%2c361.086' fill='%230b2239'%3e%3c/path%3e%3cpath d='M1440 860.04C1502.207 854.8620000000001 1568.085 874.486 1622.812 844.461 1678.874 813.703 1708.932 753.0219999999999 1738.452 696.299 1769.364 636.9 1797.275 575.544 1797.608 508.584 1797.975 434.896 1783.27 359.634 1740.426 299.68 1695.513 236.83100000000002 1627.854 194.108 1554.845 168.873 1479.511 142.83499999999998 1396.071 127.93599999999998 1320.995 154.70800000000003 1247.427 180.942 1188.502 241.995 1153.701 311.91999999999996 1122.556 374.5 1140.646 447.065 1140.702 516.967 1140.75 576.217 1138.751 633.356 1154.005 690.609 1171.829 757.506 1176.963 841.325 1236.526 876.6120000000001 1296.283 912.0129999999999 1370.783 865.8009999999999 1440 860.04' fill='%23113255'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='860' preserveAspectRatio='none' viewBox='0 0 1440 860'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1053%26quot%3b)' fill='none'%3e%3crect width='1440' height='860' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M260.7791092804997 51.91173904382144L277.4654657460741 210.67181587036956 507.26240275310903 106.26224275873392z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M998.6351139337996 581.6454365251062L875.6327738614465 474.72113357984813 776.747489479736 712.6867951610068z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M566.5014826341168 353.73582902247335L736.6776006481949 425.9713054397631 638.7369590514065 183.5597110083952z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M199.71515415902215 577.8831971657055L35.67112915750707 540.0106498486491 161.84260684196573 741.9272221672206z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1069.011%2c374.13C1133.627%2c372.569%2c1191.85%2c336.309%2c1223.473%2c279.938C1254.418%2c224.776%2c1251.828%2c158.232%2c1221.16%2c102.916C1189.469%2c45.754%2c1134.368%2c1.831%2c1069.011%2c1.334C1002.896%2c0.832%2c946.252%2c43.54%2c912.805%2c100.573C878.914%2c158.363%2c867.837%2c229.549%2c901.058%2c287.727C934.518%2c346.325%2c1001.553%2c375.76%2c1069.011%2c374.13' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1172.782%2c817.839C1214.073%2c814.415%2c1248.34%2c788.991%2c1268.976%2c753.062C1289.519%2c717.295%2c1296.272%2c673.85%2c1276.167%2c637.835C1255.601%2c600.994%2c1214.97%2c580.103%2c1172.782%2c580.745C1131.682%2c581.371%2c1097.652%2c606.796%2c1074.708%2c640.901C1047.932%2c680.702%2c1021.07%2c729.733%2c1044.326%2c771.689C1067.967%2c814.34%2c1124.184%2c821.868%2c1172.782%2c817.839' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M636.528727009294 609.4648297695009L419.99796066451074 655.489864959523 466.02299585453284 872.0206313043062 682.5537621993161 825.9955961142841z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1053'%3e%3crect width='1440' height='860' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    display: block;
    z-index: -2;

    .banner {
        background-image: url('home/banner.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 40vw;
        padding-top: 1px;
        box-shadow: rgba(0, 0, 0, 0.2) 2px 6px 4px inset, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

        span {
            margin-top: 6vw;
            margin-left: 6vw;
            font-family: "Lovers Quarrel", cursive;
            font-size: 5vw;
            display: inline-block;
            color: purple;
        }

        .avatar {
            border-radius: 50%;
            background-color: white;
            height: 10vw;
            width: 10vw;
            padding: 3px;
            margin-left: 7vw;
            margin-top: 24vw;

            @media (max-width: 425px) {
                margin-top: 22vw;
            }

            @media (max-width: 320px) {

                margin-top: 21vw;
            }

            div {
                background-image: url('home/avatar.png');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                height: 10vw;
                width: 10vw;
                vertical-align: middle;
                border-radius: 50%;
            }
        }
    }

    .intro {

        width: 70vw;
        margin: 10vw auto auto auto;

        @media (max-width: 425px) {
            width: 80vw;
        }

        h1 {
            font-family: "Lovers Quarrel", cursive;
            font-size: 5em;
            color: azure;
            text-align: center;
            font-weight: 300;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            img {
                height: 50px;
                width: 50px;
                margin: auto 8px auto 8px;
            }
        }
    }


    .greeting {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0px auto;
        padding: 50px 0px;
        img {
            width: 50%;
            aspect-ratio: 720 / 540;

            @media (max-width: 768px) {
                width: 100%;
            }
        }


        div {
            width: 50%;
            background-color: var(--mat-sys-secondary-container);
            color: var(--mat-sys-on-secondary-container);
            min-height: 290px;

            @media (max-width: 768px) {
                width: 100%;
            }


            h2 {
                text-align: center;
                margin-top: 7vw;
                font-size: 3vw;

                @media (max-width: 768px) {
                    font-size: 25px;
                }
            }

            p {
                text-align: justify;
                margin-left: 6vw;
                margin-right: 6vw;
                font-weight: lighter;
                font-family: sans-serif;
                line-height: 1.8em;
                font-size: 1.3vw;

                @media (max-width: 768px) {
                    font-size: 15px;
                }
            }

        }


    }

    .blogs {
        margin: 10vw auto auto auto;

        h3 {
            text-align: center;
            color: azure;
            margin-bottom: 30px;
            vertical-align: bottom;

            @media (max-width: 768px) {
                margin-bottom: 20px;
            }
        }

        mat-card-title-group {
            width: auto !important
        }

        .spacer {
            flex: auto;
        }



        @media (max-width: 1024px) {
            width: 95vw;
        }

        button {
            margin: 20px auto;
            display: block;
        }
    }

    .firefly-container {
        $particleNum: 50;
        $particleColor: hsl(180, 100%, 80%);
        position: absolute;
        top: 0px;
        left: 0px;
        transform: translateY(-10vh);
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        .firefly {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            mix-blend-mode: screen;


            animation: fade-frames 200ms infinite, scale-frames 2s infinite;

            @keyframes fade-frames {
                0% {
                    opacity: 1;
                }

                50% {
                    opacity: 0.7;
                }

                100% {
                    opacity: 1;
                }
            }

            @keyframes scale-frames {
                0% {
                    transform: scale3d(0.4, 0.4, 1);
                }

                50% {
                    transform: scale3d(2.2, 2.2, 1);
                }

                100% {
                    transform: scale3d(0.4, 0.4, 1);
                }
            }
        }

        $particleBaseSize: 15;

        @for $i from 1 through $particleNum {
            &:nth-child(#{$i}) {
                $circleSize: math.random($particleBaseSize);
                width: $circleSize + px;
                height: $circleSize + px;
                $framesName: "move-frames-" + $i;
                $moveDuration: 28000 + math.random(9000) + ms;

                animation-name: #{$framesName};
                animation-duration: $moveDuration;
                animation-delay: math.random(30000) + ms;

                @keyframes #{$framesName} {
                    from {
                        transform: translate3d(math.random(100) + vw, math.random(30) + 100 + vh, 0);
                    }

                    to {
                        transform: translate3d(math.random(100) + vw, math.random(65) + px, 0);
                    }
                }

                .firefly {
                    animation-delay: math.random(4000) + ms;
                    background-image: list.nth([ radial-gradient(hsl(62, 55%, 90%),
                                hsl(270, 14%, 97%) 10%,
                                hsla(0, 0%, 0%, 0) 56%),
                            radial-gradient(hsl(30, 12%, 97%),
                                hsl(285, 69%, 75%) 10%,
                                hsla(0, 0%, 0%, 0) 56%),
                            radial-gradient(hsl(30, 12%, 97%),
                                hsl(60, 92%, 55%) 10%,
                                hsla(0, 0%, 0%, 0) 56%),
                            radial-gradient(hsl(30, 12%, 97%),
                                hsl(147, 77%, 79%) 10%,
                                hsla(0, 0%, 0%, 0) 56%),
                            radial-gradient(hsl(30, 12%, 97%),
                                hsl(231, 83%, 66%) 10%,
                                hsla(0, 0%, 0%, 0) 56%)], math.random(5));
                }
            }
        }
    }
}